In [1]:
print('Hello')

Hello

In [2]:
age = 25

In [3]:
name = 'Sasha'

In [4]:
name

'Sasha'

In [5]:
user_info = ["Ivan", "Ivanov", 1000.0, 1]
user_info

['Ivan', 'Ivanov', 1000.0, 1]

In [6]:
user_info[0]

'Ivan'

In [7]:
['Ivan', 'Ivanov', 1000.0, 1][0]

'Ivan'

In [8]:
salaries = [1, 2, 3, 4, 5]

In [9]:
salaries

[1, 2, 3, 4, 5]

In [10]:
salaries[0]

1

In [11]:
salaries[-1]

5

In [12]:
users = ["Courses", 42, False]

In [13]:
users

['Courses', 42, False]

In [14]:
users.append(8)

In [15]:
users

['Courses', 42, False, 8]

In [16]:
worker = ['Sasha', 'Ivanov', 75000.0, 1]

In [17]:
worker

['Sasha', 'Ivanov', 75000.0, 1]

In [18]:
status = '{} {} is {}'

In [19]:
status

'{} {} is {}'

In [20]:
experience = worker[-1]
if experience < 2:
    position = 'junior'
elif 2 <= experience <= 5:
    position = 'middle'
else:
    positon = 'senior'

In [21]:
status = status.format(worker[0], worker[1], position)

In [22]:
values = [15, 0, 10, 100, 150, 165, 1001, 45, -30]

In [23]:
x = []

In [24]:
for value in values:
    if (value % 10) == 0:
        x += [value]

In [25]:
x

[0, 10, 100, 150, -30]

In [26]:
(100 % 10) == 0

True

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('C:/Users/Marat SHagitov/Documents/GitHub/Study/Python/test.csv')

In [29]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20249,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20250,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20251,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20252,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20253,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [30]:
df.shape

(20254, 14)

In [31]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed           object
STATUS               object
UNITS                object
Magnitude             int64
Subject              object
Group                object
Series_title_1       object
Series_title_2       object
Series_title_3       object
Series_title_4      float64
Series_title_5      float64
dtype: object

In [32]:
df.describe()

,Period,Data_value,Magnitude,Series_title_4,Series_title_5
count,20254.000000,1.579500e+04,20254.000000,0.0,0.0
mean,2016.343661,6.157889e+04,2.378493,NaN,NaN
std,3.215943,1.860380e+05,2.934988,NaN,NaN
min,2011.060000,1.225683e+00,0.000000,NaN,NaN
25%,2014.030000,1.234000e+03,0.000000,NaN,NaN
50%,2016.120000,1.059100e+04,0.000000,NaN,NaN
75%,2019.090000,4.351000e+04,6.000000,NaN,NaN
max,2022.060000,2.196974e+06,6.000000,NaN,NaN

In [33]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [34]:
df['Period']

0        2011.06
1        2011.09
2        2011.12
3        2012.03
4        2012.06
          ...
20249    2017.06
20250    2017.09
20251    2017.12
20252    2018.03
20253    2018.06
Name: Period, Length: 20254, dtype: float64

In [35]:
df[['Period', 'Data_value']].head()

    Period  Data_value
0  2011.06     80078.0
1  2011.09     78324.0
2  2011.12     85850.0
3  2012.03     90743.0
4  2012.06     81780.0

In [36]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [37]:
df = pd.read_csv('C:/Users/Marat SHagitov/Documents/GitHub/Study/Python/testX.csv')

In [38]:
df

,Year,Institutional_sector_name,Institutional_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Status,Values
0,2008.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,225544
1,2009.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,243315
2,2010.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,259381
3,2011.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,262596
4,2012.03,Corporate business enterprises,141,Capital Account Opening balances Produced non-...,LS00000,AN10000,REVISED,267100
...,...,...,...,...,...,...,...,...
18715,2013.03,Pension funds,261,Financial liabilities Closing balance Total fi...,LE00000,AFL0000,FINAL,53768
18716,2014.03,Pension funds,261,Financial liabilities Closing balance Total fi...,LE00000,AFL0000,REVISED,58559
18717,2015.03,Pension funds,261,Financial liabilities Closing balance Total fi...,LE00000,AFL0000,REVISED,70099
18718,2016.03,Pension funds,261,Financial liabilities Closing balance Total fi...,LE00000,AFL0000,REVISED,76021
18719,2017.03,Pension funds,261,Financial liabilities Closing balance Total fi...,LE00000,AFL0000,FINAL,85190

In [39]:
df = pd.read_csv('C:/Users/Marat SHagitov/Documents/GitHub/Study/Python/testXx.csv')

In [40]:
df

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,PRDA.S1CAAZI,1978.03,1000.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
1,PRDA.S1CAAZI,1979.03,947.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
2,PRDA.S1CAAZI,1980.03,1054.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
3,PRDA.S1CAAZI,1981.03,1167.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
4,PRDA.S1CAAZI,1982.03,1144.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14393,PRDA.S4LMSZP,2017.03,1.7,FINAL,Percent,0,Productivity Statistics - PRD,Productivity Growth Accounting (ANZSIC06),"Annual percentage change, labour inputs index,...",NaN,NaN,NaN,NaN
14394,PRDA.S4LMSZP,2018.03,1.3,FINAL,Percent,0,Productivity Statistics - PRD,Productivity Growth Accounting (ANZSIC06),"Annual percentage change, labour inputs index,...",NaN,NaN,NaN,NaN
14395,PRDA.S4LMSZP,2019.03,1.7,FINAL,Percent,0,Productivity Statistics - PRD,Productivity Growth Accounting (ANZSIC06),"Annual percentage change, labour inputs index,...",NaN,NaN,NaN,NaN
14396,PRDA.S4LMSZP,2020.03,0.5,FINAL,Percent,0,Productivity Statistics - PRD,Productivity Growth Accounting (ANZSIC06),"Annual percentage change, labour inputs index,...",NaN,NaN,NaN,NaN
14397,PRDA.S4LMSZP,2021.03,-1.7,PROVISIONAL,Percent,0,Productivity Statistics - PRD,Productivity Growth Accounting (ANZSIC06),"Annual percentage change, labour inputs index,...",NaN,NaN,NaN,NaN

In [41]:
df.Period.sum()

28827130.939999994

In [42]:
df.groupby('Period', as_index=False).aggregate({'Data_value': 'sum'}).sort_values('Data_value')

     Period  Data_value
1   1979.03    159341.9
0   1978.03    159931.0
2   1980.03    160729.9
3   1981.03    161404.3
4   1982.03    165290.1
5   1983.03    167764.8
6   1984.03    171292.5
7   1985.03    177488.0
8   1986.03    183010.3
9   1987.03    186588.9
12  1990.03    188558.8
11  1989.03    188719.3
10  1988.03    189119.1
13  1991.03    191789.4
14  1992.03    192290.1
15  1993.03    192709.0
16  1994.03    200003.4
17  1995.03    205561.7
18  1996.03    323203.0
19  1997.03    331984.2
20  1998.03    336837.2
21  1999.03    340337.5
22  2000.03    398780.6
23  2001.03    407063.8
24  2002.03    414670.6
25  2003.03    425040.6
26  2004.03    436227.2
27  2005.03    445189.9
28  2006.03    453826.9
29  2007.03    461388.3
32  2010.03    471195.6
31  2009.03    473209.8
30  2008.03    473237.6
33  2011.03    473723.9
34  2012.03    479411.5
35  2013.03    486137.9
36  2014.03    496148.8
37  2015.03    510130.9
38  2016.03    521829.0
39  2017.03    531752.9
40  2018.03    543287.1
43  2021.03    550450.1
41  2019.03    557925.2
42  2020.03    564360.0

In [43]:
df.groupby('Period', as_index=False).aggregate({'Data_value': 'sum'}).sort_values('Data_value', ascending=False)

     Period  Data_value
42  2020.03    564360.0
41  2019.03    557925.2
43  2021.03    550450.1
40  2018.03    543287.1
39  2017.03    531752.9
38  2016.03    521829.0
37  2015.03    510130.9
36  2014.03    496148.8
35  2013.03    486137.9
34  2012.03    479411.5
33  2011.03    473723.9
30  2008.03    473237.6
31  2009.03    473209.8
32  2010.03    471195.6
29  2007.03    461388.3
28  2006.03    453826.9
27  2005.03    445189.9
26  2004.03    436227.2
25  2003.03    425040.6
24  2002.03    414670.6
23  2001.03    407063.8
22  2000.03    398780.6
21  1999.03    340337.5
20  1998.03    336837.2
19  1997.03    331984.2
18  1996.03    323203.0
17  1995.03    205561.7
16  1994.03    200003.4
15  1993.03    192709.0
14  1992.03    192290.1
13  1991.03    191789.4
10  1988.03    189119.1
11  1989.03    188719.3
12  1990.03    188558.8
9   1987.03    186588.9
8   1986.03    183010.3
7   1985.03    177488.0
6   1984.03    171292.5
5   1983.03    167764.8
4   1982.03    165290.1
3   1981.03    161404.3
2   1980.03    160729.9
0   1978.03    159931.0
1   1979.03    159341.9

In [44]:
df.query("STATUS == 'REVISED'").groupby('Period', as_index=False).aggregate({'Data_value': 'sum'})

     Period  Data_value
0   1991.03     36845.0
1   2003.03      1155.0
2   2005.03         1.3
3   2006.03      7299.3
4   2007.03     12228.0
5   2008.03      6478.0
6   2009.03      7437.0
7   2010.03     11262.0
8   2011.03     13677.0
9   2012.03     12035.0
10  2013.03      8323.0
11  2014.03     25475.4
12  2015.03     18954.0
13  2016.03     12524.0
14  2017.03     24094.0
15  2018.03     10539.0
16  2019.03     22262.8
17  2020.03     29476.2
18  2021.03    103443.1

In [45]:
df.Period.unique()

array([1978.03, 1979.03, 1980.03, 1981.03, 1982.03, 1983.03, 1984.03,
       1985.03, 1986.03, 1987.03, 1988.03, 1989.03, 1990.03, 1991.03,
       1992.03, 1993.03, 1994.03, 1995.03, 1996.03, 1997.03, 1998.03,
       1999.03, 2000.03, 2001.03, 2002.03, 2003.03, 2004.03, 2005.03,
       2006.03, 2007.03, 2008.03, 2009.03, 2010.03, 2011.03, 2012.03,
       2013.03, 2014.03, 2015.03, 2016.03, 2017.03, 2018.03, 2019.03,
       2020.03, 2021.03])

In [46]:
from datetime import datetime

In [47]:
today_day = datetime.today().strftime("%Y-%m-%d")

In [48]:
file_name = 'money_title_{}.csv'

In [49]:
file_name.format(today_day)

'money_title_2022-10-30.csv'

In [50]:
pd

In [51]:
taxi = pd.read_csv('https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv')

In [52]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [53]:
taxi.shape # (число строк, число столбцов)

(29101, 14)

In [54]:
taxi.head

<bound method NDFrame.head of                  pickup_dt pickup_month        borough  pickups hday  spd  \
0      2015-01-01 01:00:00          Jan          Bronx      152    Y  5.0
1      2015-01-01 01:00:00          Jan       Brooklyn     1519    Y  5.0
2      2015-01-01 01:00:00          Jan            EWR        0    Y  5.0
3      2015-01-01 01:00:00          Jan      Manhattan     5258    Y  5.0
4      2015-01-01 01:00:00          Jan         Queens      405    Y  5.0
...                    ...          ...            ...      ...  ...  ...
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0

        vsb  temp  dewp     slp  pcp 01  pcp 06  pcp 24   sd
0      10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1      10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2      10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3      10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4      10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
...     ...   ...   ...     ...     ...     ...     ...  ...
29096  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

[29101 rows x 14 columns]>

In [55]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [56]:
taxi.dtypes.value_counts()

float64    9
object     4
int64      1
dtype: int64

In [57]:
taxi.borough

0                Bronx
1             Brooklyn
2                  EWR
3            Manhattan
4               Queens
             ...
29096              EWR
29097        Manhattan
29098           Queens
29099    Staten Island
29100              NaN
Name: borough, Length: 29101, dtype: object