In [1]:
print('Hello')

Hello

In [2]:
age = 25

In [3]:
name = 'Sasha'

In [4]:
name

'Sasha'

In [5]:
user_info = ["Ivan", "Ivanov", 1000.0, 1]
user_info

['Ivan', 'Ivanov', 1000.0, 1]

In [6]:
user_info[0]

'Ivan'

In [7]:
['Ivan', 'Ivanov', 1000.0, 1][0]

'Ivan'

In [8]:
salaries = [1, 2, 3, 4, 5]

In [9]:
salaries

[1, 2, 3, 4, 5]

In [10]:
salaries[0]

1

In [11]:
salaries[-1]

5

In [12]:
users = ["Courses", 42, False]

In [13]:
users

['Courses', 42, False]

In [14]:
users.append(8)

In [15]:
users

['Courses', 42, False, 8]

In [16]:
worker = ['Sasha', 'Ivanov', 75000.0, 1]

In [17]:
worker

['Sasha', 'Ivanov', 75000.0, 1]

In [18]:
status = '{} {} is {}'

In [19]:
status

'{} {} is {}'

In [20]:
experience = worker[-1]
if experience < 2:
    position = 'junior'
elif 2 <= experience <= 5:
    position = 'middle'
else:
    positon = 'senior'

In [21]:
status = status.format(worker[0], worker[1],position)

In [22]:
values = [15,0,10,100,150,165,1001,45,-30]

In [23]:
x = []

In [24]:
for value in values:
    if (value % 10) == 0:
        x += [value]

In [25]:
x

[0, 10, 100, 150, -30]

In [26]:
(100 % 10) == 0

True

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('C:/Users/Marat SHagitov/Documents/GitHub/Study/Python/test.csv')

In [29]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20249,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20250,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20251,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20252,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20253,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [30]:
df.shape

(20254, 14)